@import "body";
@import "header-block";

.header-block {
  .enter {
    margin-left: 115px;

  }
}

.login-form {
  height: 500px;
  background-image: url("/img/bgreg.png");
  padding-top: 60px;
  padding-bottom: 60px;
  .login-block {
    margin: 0 auto;
    position: relative;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 15px;
    padding-top: 50px;
    padding-left: 94px;
    width: 729px;
    h2 {
      margin: 0;
      position: absolute;
      right: 555px;
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      letter-spacing: -0.02em;
      color: #000000;

      &::after {
        content: "";
        display: block;
        height: 2px;
        width: 100%;
        background: #000000;
      }

    }
    .form-wrap {
      @extend .flex;
      flex-direction: column;
      align-items: flex-start;

      .login {
        margin-top: 50px;
        margin-bottom: 55px;
        button {
          border: 0;
          padding: 10px 35px;
          font-weight: 300;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: -0.02em;
          color: #000000;
          background: #FFB800;
          border-radius: 7px;

          &:hover {
            transform: translateY(-7px) scale(1.1);
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;

        .form-item {
          display: flex;
          gap: 25px;
          .required {
            display: none;
          }
          .requiredPass {
            display: none;
          }
          input {
            margin-right: auto;
            width: 350px;
            height: 37px;
            background: rgba(255, 255, 255, 0.5);
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 7px;
            padding: 10px 0 10px 12px;

          }
          &:first-child {
            margin-top: 92px;
            margin-bottom: 25px;
          }
        }
      }
    }
  }

}

@import "footer";